* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.app-title {
  text-align: center;
  font-weight: 1000;
  padding: 1em;
  margin: 0;
}

.input-group {
  font-weight: 600;
  padding: 1em;
}

.song-section {
  margin-bottom: 30px;
  padding: 1em;
}

.section-title {
  color: darkblue;
  margin-top: 2em;
  font-size: 18px;
  font-weight: bolder;
}

.search-container {
  margin: 0;
  display: flex;
}

.search-input {
  flex: 1;
  padding: 12px 15px;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  font-size: 16px;
}

.search-button {
  width: 50px;
  background-color: grey;
  border: none;
  border-radius: 0 5px 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #333;
  position: relative;
}

.search-icon::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 2px;
  background-color: #333;
  transform: rotate(45deg);
  bottom: -5px;
  right: -5px;
}

.section-title {
  margin: 5px;
  padding: 10px;
}

.subtitle {
  font-size: small;
  font-weight: lighter;
  padding: 1em;
}

.add-button {
  background-color: white;
  border: none;
  border-radius: 25px;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: 1em auto;
  width: 80%;
  text-align: center;
}
