* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.app-title {
  color: darkblue;
  text-align: center;
  font-weight: 1000;
  padding: 1em;
  margin: 0;
}

.input-group {
  font-weight: 600;
  padding: 1em;
}

.song-section {
  margin-bottom: 30px;
  padding: 1em;
}

.section-title {
  color: darkblue;
  margin-top: 2em;
  font-size: 18px;
  font-weight: bolder;
}

.search-container {
  margin: 0;
  display: flex;
}

.search-input {
  flex: 1;
  padding: 12px 15px;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  font-size: 16px;
}

.search-icon {
  background-color: white;
  padding: 1em;
  font-size: medium;
  cursor: pointer;
}

.section-title {
  margin: 5px;
  padding: 10px;
}

.subtitle {
  font-size: small;
  font-weight: lighter;
  padding: 1em;
}

.add-button {
  position: fixed;
  bottom: 0;
  left: 30;
  justify-content: center;
  width: 100%;
  background-color: lightgray;
  border: none;
  border-radius: 25px;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: 1em auto;
  width: 80%;
  text-align: center;
}

.add-button:hover {
  color: white;
  background-color: darkblue;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
